html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.page-testimonials {
    height: 800px;
    text-align: center;
}

.page-testimonials h1 {
    font-size: 50px;
}


/* Contenedor de icons pets */
.floating-decorations {
    position: absolute;
    top: 200px;
    left: 180px;
    width: 60%;
    height: 300px;
    pointer-events: none;
    overflow: visible;
    z-index: 1;
}

.decoration {
    position: absolute;
    width: 80px;
}

.huella1 {
    top: 20px;
    left: 10%;
    animation: float 6s ease-in-out infinite;
}

.huella2 {
    top: 120px;
    left: 30%;
    animation: float 8s ease-in-out infinite;
}

.perrito1 {
    top: 60px;
    left: 50%;
    animation: float 7s ease-in-out infinite;
}

.perrito2 {
    top: 200px;
    animation: float 9s ease-in-out infinite;
}

.perrito3 {
    top: 250px;
    left: 60%;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Hero Section */
.hero-section {
    width: 85%;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 150px;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    width: 80%;
    font-size: 48px;
    color: #343434;
    margin-bottom: 20px;
}

.highlight-word {
    color: #dd3f30;
    font-size: 56.6px;
}

.hero-content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block; /* Asegura que el enlace se comporte como un botón */
    background-color: #dd3f30;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 19px;
    border-radius: 5px;
    font-weight: 600;
    animation: pulse 1s infinite; /* Llama a la animación pulse */
    transition: transform 0.2s ease; /* Transición para el hover */
    text-decoration: none; /* Remueve el subrayado del enlace */
}

.cta-button:hover {
    animation: none; /* Detiene la animación en hover */
    transform: scale(0.9); /* Efecto de reducir tamaño */
    cursor: pointer; /* Cambia el cursor a puntero */
    background-color: #87cff2; /* Cambia el color de fondo en hover */
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1); /* Tamaño original */
    }
    50% {
        transform: scale(1.1); /* Aumento al 110% */
    }
}


.hero-image img {
    max-width: 100%;
    margin-top: -10vh;
}

/* Info Section */
.info-section {
    margin-bottom: 120px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #e4f6ff;
    padding: 30px 170px;
}

.info-card {
    text-align: center;
    max-width: 300px;
    padding: 20px;
}

.pet-paw {
    width: 60px;
}

.info-card h2 {
    font-size: 20px;
    color: #343434;
    margin-bottom: 10px;
}

.info-card p {
    font-size: 14px;
    color: #666;
}

/*Pets Section*/
body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
    color: #343434;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.title {
    color: #dd3f30;
    font-weight: bold;
    font-size: 24px;
}

.subtitle {
    font-size: 36px;
    font-weight: 700;
    color: #2c3e50;
    margin: 10px 0;
}

.description {
    font-size: 16px;
    color: #666;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-bottom: 60px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #dd3f30;
    margin: 15px 0 5px;
}

.raza {
    font-size: 14px;
    color: #7f8c8d;
}

.info {
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px 0;
}

.status {
    font-size: 16px;
    color: #343434;
    font-weight: bold;
    margin-top: 15px;
}

.stars {
    color: #f39c12;
    font-size: 16px;
    margin-top: 10px;
}

/* Estilo para el overlay del popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Estilo para el contenido del popup */
.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    height: 80vh;
    text-align: center;
    position: relative;
}

#popup-image {
    width: 100%; /* Ajusta según sea necesario */
    height: auto; /* Mantiene la proporción */
    max-width: 300px; /* Controla el tamaño máximo */
}

/* Botón de cerrar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

