* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid black 1px; */
}

p,
h3,
li,
ul,
ol,
h2,
td,
label,
div,
nav,
a {
    font-family: -apple-system,sans-serif, 'Canva Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-header-blog {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 11rem;
    flex-wrap: wrap;
    /* items to wrap to a new line on smaller screens */

}

header nav {
    font-family: -apple-system, 'Canva Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-logo,
.wrap-nav-items {
    flex-basis: 100%;
    /* Make each item take up 100% width on smaller screens */
}


.wrap-nav-items nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-header {
    justify-items: center;
}

#nav-header a {
    text-decoration: none;
    color: black;
    font-size: 0.5;
    width: 11rem;
    text-align: center;
}

#nav-header a.activo {
    color: #87cff2;
    font-weight: bold;
}

#nav-header a:hover {
    color: #87cff2;
}

.header-logo img {
    height: 8rem;
}

@media (min-width: 768px) {

    /* Styles for medium screens and larger */
    .main-header-blog {
        flex-wrap: nowrap;
        /* Prevent wrapping on medium screens and larger */
    }

    .header-logo,
    .wrap-nav-items {
        flex-basis: auto;
        /* Let them take up their natural width */
    }
}


/* STYLES BLOG SECTION */

.wrap-title-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: rgb(228, 246, 255);
}

.wrap-story-blog :hover{
   background-color: #fff4f4; 
   border-radius: 10px;
}


.blog-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container-main-blog {
    height: 900px;
    display: grid;
    grid-template-columns: 16em 16em 16em;
    grid-template-rows: 4em 4em;
    grid-column-gap: 10em;
    grid-row-gap: 20em;
    justify-content: center;
    align-items: center;
    padding: 10em ;
 }

.wrap-image-story{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-image-story img {
    width:60%;
   }

   .wrap-image-story img:hover {
    width: 120%;
    height: 140%;
   }


.wrap-story-blog{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 10px 0px 20px 0px;
}

.wrap-story-blog h2 {
    font-weight: 1rem;
    color: red;
}

.button-mostrar-mas{
    color: #87cff2;
    background-color: white;
    border: none;
}

.wrap-story-blog span {
    font-style: italic;
}

.author-blog {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-clip {
    width: 60%;
    height: 40%;
    border-radius: 10px;
}

.image-mini-clip {
    width: 20px;
    height: 10px;
    clip-path: circle();
    margin: 0;
}


span #prueba {
    width: 100%;
}

.hidden-text {
    display: none;
  }



  /* ESTILOS FOOTER */
.footer-contact-info {
    background-color: #87CFF2;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    padding: 40px 180px;
}

.footer-contact-info i{
    padding-right: 10px;
}

/* Map */
.footer-map-section {
    height: auto;
}

/* Footer Container */
.footer-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 5% 0;
    color: #333;
}

.footer-left-section {
    width: 22%;
    margin-right: 35px;
}

.footer-horario-section {
    width: 25%;
    margin-right: 55px;
}

.footer-info-section {
    width: 10%;
}

.footer-form {
    width: 30%;
}

.footer-logo {
    max-width: 40%;
    margin-bottom: 10px;
}

.footer-social-media p {
    margin: 10;
    font-weight: bold;
}

.footer-social-media a{
    padding-right: 15px;
}

.footer-social-media i{
    color: #87cff2;
    transition: transform 0.3s ease;
}

.footer-social-media i:hover {
    transform: scale(1.2);
}

.footer-horario-section h3,
.footer-info-section h3,
.footer-form h3 {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.footer-horario-section table {
    width: 100%;
    border-collapse: collapse;
}

.footer-horario-section td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.footer-info-section ul {
    list-style: none;
    padding: 0;
}

.footer-info-section li {
    margin-bottom: 25px;
}

.footer-info-section a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.footer-info-section a:hover {
    color: #87cff2;
    font-size: 18px;
}

/*Form*/
.footer-form {
    margin: 0 auto;
    text-align: center;
}

.footer-form p {
    margin-top: 0;
}

.footer-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.input-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer-form button {
    grid-column: span 2;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #87CFF2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.footer-form button:hover {
    background-color: #4e99be;
    animation: pulse 0.6s infinite;
}

/* Estilos para el botón de WhatsApp */
.whatsapp-fixed {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

.whatsapp-fixed a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    color: #ffffff;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.whatsapp-fixed a img {
    width: 24px;
    height: 24px;
}

.whatsapp-fixed a:hover {
    background-color: #1ebe5d;
    animation: pulse 0.6s infinite;
}

