* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid black 1px;
}

p, h3, li, ul, ol, h2, td, label, div, nav, a {
    font-family: 'Canva Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-header-blog{
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 11rem;
    flex-wrap: wrap; /* items to wrap to a new line on smaller screens */

}

header nav {
    font-family: 'Canva Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.header-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.header-logo,
.wrap-nav-items {
  flex-basis: 100%; /* Make each item take up 100% width on smaller screens */
}


.wrap-nav-items nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.nav-header{
justify-items: center;
}

#nav-header a {
   text-decoration: none;
    color: black;
    font-size: 0.5;
    width: 11rem;
    text-align: center;
}

#nav-header a.activo {
    color: #87cff2;
    font-weight: bold;
}

#nav-header a:hover {
    color: #87cff2;
}

.header-logo img {
    height: 8rem;
}

@media (min-width: 768px) {
    /* Styles for medium screens and larger */
    .main-header-blog {
      flex-wrap: nowrap; /* Prevent wrapping on medium screens and larger */
    }
  
    .header-logo,
    .wrap-nav-items {
      flex-basis: auto; /* Let them take up their natural width */
    }
  }


/* header.main-header-blog {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff;
}

.wrap-header-blog {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 999;

}

.wrap-logo-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
}

.wrap-logo-blog img {
    width: 105px;
    height: 105px;
}

.wrap-nav-header {
    width: 1000px;
    display: flex;
    flex-basis: 60%;
}

.nav-header-blog {
    display: flex;
    align-items: center;
    width: 100%;
}

ul.main-menu-blog {
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    color: black;
}

li.menu-item {
    display: flex;
    margin: 0.75rem;
    font-weight: 700;
    color: black;
    font-size: small;
}

#nav-blog {
    color: #87cff2;
}

li.menu-item a:hover {
    color: black;
} */

.wrap-title-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 315px;
    background: rgb(228, 246, 255);
}

.container-main-blog {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
}

.image-clip {
    width: 200px;
    height: 100px;
    border-radius: 40px;
}

.image-mini-clip {
    width: 20px;
    height: 10px;
    clip-path: circle();
    margin: 0;
}

.wrap-story-blog img {
    width: 100%;
}

.wrap-story-blog h2 {
    font-weight: 700;
    color: red;
}

.wrap-story-blog span {
    font-style: italic;
}

.author-blog {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span #prueba {
    width: 100%;
}