/* 
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 */

/*  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid black 1px;
} */

p, h3, li, ul, ol, h2, td, label, div, nav, a {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#h1-individual {
    font-family: 'League Spartan';
    font-size: 70px;
    margin-bottom: 7px;
}

#h3-individual {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dd3f30;
}

/* #p-individual {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
} */

body {
    margin: 0;
}


/* ESTILOS SECCION HEADER */
header {
    /* border: solid 1px red; */
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    padding-left: 90px;
}

header nav {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#nav-header a {
    text-decoration: none;
    color: black;
    padding-right: 30px;
    font-size: 17px;
}

#nav-header a.activo {
    color: #87cff2;
    font-weight: bold;
}

#nav-header a:hover {
    color: #87cff2;
}

.header-logo img {
    height: 100px;
}

/* HEADER RESPONSIVE */
/* @media (max-width:900px){
    header {
        flex-direction: column;
    }

    .header-logo img {
        min-height: 50px;
    }

    nav a {
        font-size: 12px;
    }
} */


/* ESTILOS SECCION INTRO */
.intro-container {
    /* border: solid 1px black; */
    height: 780px;
    background-color: #e4f6ff;
    display: flex;
}

.intro-container-text {
    /* border: solid 1px blue; */
    width: 40%;
    padding-left: 90px;
    padding-top: 100px;
}

.intro-container-text h2 {
    color: #dd3f30;
    font-size: 35px;
    font-family: 'League Spartan';
}

.intro-container-text p {
    font-size: 25px;
}

.intro-container-text button {
    background-color: #87cff2;
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;
}

.intro-container-image img {
    width: 800px;
    height: 600px;
    margin-top: 290px;
}

/* ESTILOS SECCION CONÓCENOS */
#cono-title {
    /* border: solid 1px yellow; */
    height: 150px;
    text-align: center;
    padding-top: 70px;
}

.cono-container {
    /* border: solid 1px black; */
    height: 500px;

}

#tbl-cono td {
    /* border: solid 1px red; */
    width: 400px;
    height: 400px;
}

#cono-image {
    /* border: solid 1px orange; */
    width: 200px;
    height: 200px;
    margin: auto;
}

#cono-image img {
    width: 200px;
    clip-path: circle();
}

#cono-text {
    /* border: solid 1px blue; */
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
}


/* ESTILOS SECCION PORQUE ADOPTAR */
.why-adopt-container {
    /* border: solid 1px red; */
    height: 875px;
    background-color: #e4f6ff;
}

#why-adopt-title {
    /* border: solid blue; */
    height: 110px;
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
}

#why-adopt-title h2 {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#why-adopt-tbl table {
    margin: auto;
}

#why-adopt-tbl td {
    /* border: solid 1px yellow; */
    width: 300px;
    height: 450px;
}

#why-adopt-itemsA {
    /* border: solid 1px red; */
    width: 210px;
    height: 360px;
    margin: auto;
    margin-top: 70px;
}

#why-adopt-itemsB {
    /* border: solid 1px red; */
    width: 210px;
    height: 410px;
    margin: auto;
}

#why-adopt-image {
    /* border: solid 1px black; */
    width: 150px;
    height: 150px;
    margin: auto;
}

#why-adopt-image img {
    width: 150px;
    height: 150px;
}

#radius-img-L {
    border-top-left-radius: 200px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 150px;
}

#radius-img-R {
    border-top-left-radius: 100px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 100px;
}

#why-adopt-text {
    /* border: solid 1px violet; */
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
    line-height: 1;
}

#why-adopt-footer-image img {
    width: 100%;
    height: 420px;
    position: relative;
}

/* ESTILOS LIGHTBOX SECCION WHY-ADOPT */
#why-adopt-tbl div {
    cursor: pointer;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox-text {
    color: black;
    background-color: #e4f6ff;
    text-align: center;
    margin: 20px;
    width: 500px;
    height: 300px;
    border: outset 15px #87cff2;
    padding: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}


/* ESTILOS BLOG-FORMULARIO */
.wrap-section-donations-blog {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    z-index: 9999;
    background-color: #ffffff;
}

.section-donations-Blog {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-donations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    height: 600px;
    background: rgb(244, 244, 244);
    /* top | right | bottom | left */
    padding: 50px 15px 30px 15px;
}

.title-Form-Donations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-Form-Donations h2 {
    font-weight: 700;
}

.title-Form-Donations h3 {
    font-weight: 10;
    font-size: small;
}

.Wrap-form-inputs input,
.Wrap-form-inputs select,
.Wrap-form-inputs button {
    width: 100%;
    height: 2em;

    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.buttonBlue {
    background-color: #87cff2;
    color: white;
    border: 0;
}

.wrap-entry {
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
}

.wrap-entry img {
    width: 225px;
    height: 150px;
}

.wrap-entry span {
    font-weight: 700;
}

.wrap-entry p {
    font-weight: 400;
    font-size: small;
}

.wrap-grid-blog {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 8em;

}


/* ESTILOS SECCION ADOPTA */
.adopt-slider {
    /* border: solid 1px red; */
    height: 410px;
    margin-top: 10px;
    overflow: hidden;
    padding-top: 50px;
    text-align: center;
    white-space: nowrap;
}

.adopt-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.adopt-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding-right: 80px;
}

.adopt-slide img {
    width: 350px;
    height: 350px;
    margin-left: 60px;
}

/* DIV INFERIOR SECCION ADOPTA */
#adopt-barra-inferior {
    /* border: solid 1px blue; */
    width: 90%;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87cff2;
}

#btnAdopt {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: #87cff2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.adopt-btnPrev {
    background: url(../img/captura-prev.PNG) no-repeat;
    width: 63px;
    height: 57px;
    background-color: white;
    border: none;
    margin-right: 50px;
    cursor: pointer;
}

.adopt-btnNext {
    background: url(../img/captura-next.PNG) no-repeat;
    width: 63px;
    height: 57px;
    background-color: white;
    border: none;
    margin-left: 50px;
    cursor: pointer;
}


/* ESTILOS SECCION TESTIMONIOS */
.testimonials-slider {
    /*  border: solid 1px red; */
    max-width: 50%;
    height: 300px;
    /* 200px */
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
}

.testimonials-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonials-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.testimonials-btnPrev {
    position: relative;
    bottom: 80px;
    right: 35%;
    background-color: white;
    border: none;
    cursor: pointer;
}

.testimonials-btnNext {
    position: relative;
    bottom: 80px;
    left: 35%;
    background-color: white;
    border: none;
    cursor: pointer;
}

.testimonials-upper {
    /* border: solid 1px blue; */
    margin: auto;
    margin-top: 100px;
    max-width: 600px;
}


/* ESTILOS FOOTER */
.footer-contact-info {
    background-color: #87CFF2;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    padding: 40px 180px;
}

.footer-contact-info i{
    padding-right: 10px;
}

/* Map */
.footer-map-section {
    height: auto;
}

/* Footer Container */
.footer-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 5% 0;
    color: #333;
}

.footer-left-section {
    width: 22%;
    margin-right: 35px;
}

.footer-horario-section {
    width: 25%;
    margin-right: 55px;
}

.footer-info-section {
    width: 10%;
}

.footer-form {
    width: 30%;
    padding-left: 60px;     /* AGREGADO JEFF PARA SEPARAR FORM DE INFO */
}

.footer-logo {
    max-width: 40%;
    margin-bottom: 10px;
}

.footer-social-media p {
    margin: 10;
    font-weight: bold;
}

.footer-social-media a{
    padding-right: 15px;
}

.footer-social-media i{
    color: #87cff2;
    transition: transform 0.3s ease;
}

.footer-social-media i:hover {
    transform: scale(1.2);
}

.footer-horario-section h3,
.footer-info-section h3,
.footer-form h3 {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.footer-horario-section table {
    width: 100%;
    border-collapse: collapse;
}

.footer-horario-section td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.footer-info-section ul {
    list-style: none;
    padding: 0;
}

.footer-info-section li {
    margin-bottom: 25px;
}

.footer-info-section a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.footer-info-section a:hover {
    color: #87cff2;
    font-size: 18px;
}

/*Form*/
.footer-form {
    margin: 0 auto;
    text-align: center;
}

.footer-form p {
    margin-top: 0;
}

.footer-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.input-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer-form button {
    grid-column: span 2;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #87CFF2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.footer-form button:hover {
    background-color: #4e99be;
    animation: pulse 0.6s infinite;
}

/* Estilos para el botón de WhatsApp */
.whatsapp-fixed {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

.whatsapp-fixed a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    color: #ffffff;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.whatsapp-fixed a img {
    width: 24px;
    height: 24px;
}

.whatsapp-fixed a:hover {
    background-color: #1ebe5d;
    animation: pulse 0.6s infinite;
}


/* ESTILOS PAGES INTRO */
#pages-intro {
    /* border: solid 1px red; */
    height: 150px;
    background-color: #e4f6ff;
    text-align: center;
    line-height: 0;
    padding-top: 20px;
}

#pages-intro h2 {
    font-family: 'League Spartan';
    font-size: 45px;
    color: #343434;
    /* margin-bottom: 20px; */
    line-height: 0.5;
}